---
import { Image } from "astro:assets";
---

<section
	class="min-h-screen w-full text-white grid place-items-center"
	id="clients"
>
	<div
		class="w-full grid md:grid-(cols-[3fr_4fr] rows-1) grid-(cols-1) gap-y-10"
	>
		<div
			class="w-full md:w-fit h-full grid grid-cols-1 md:grid-rows-[1fr_auto_1fr]"
		>
			<div class="self-end w-fit">
				<div
					class="border-(1 white) p-(x-5 y-2) md:p-(x-10 y-4) rounded-full group md:text-5xl flex flex-row text-2xl"
				>
					<p>Клиенты</p>
				</div>
			</div>

			<div>
				<h1 class="font-logo md:text-[175px] text-[95px] leading-none">
					skat.
				</h1>
			</div>

			<div></div>
		</div>

		<div class="flex flex-col justify-center">
			<Image
				width={3166}
				height={1959}
				alt="clients"
				src="/sponsors.webp"
			/>
		</div>
	</div>
</section>
