---
import GlobeIcon from "../assets/globe.svg";
import MailIcon from "../assets/mail.svg";
import PhoneIcon from "../assets/phone.svg";
---

<section class="min-h-screen w-full grid place-items-center grid-cols-1">
	<div
		class="grid md:grid-cols-2 gap-10 items items-center gap-x-20 py-20 text-2xl md:text-5xl font-light md:font-extralight"
	>
		<div>
			<p class="font-logo text-[150px] leading-[1]">skat.</p>
			<p class="">Поплыли?</p>
		</div>
		<div
			class="grid grid-cols-[auto_1fr] gap-7 underline items-center md:[&_.icon]:size-20 [&_.icon]:(size-15 grid place-items-center border-(2 [#6c5eb1]) rounded-full) [&_.icon>svg]:(size-8)"
		>
			<div class="icon">
				<PhoneIcon />
			</div>
			<a href="tel:+79151248730" target="_blank">+7 (915) 124 87 30</a>
			<div class="icon">
				<MailIcon />
			</div>
			<a href="mailto:silkin@skat-project.ru" target="_blank"
				>silkin@skat-project.ru</a
			>
			<div class="icon">
				<GlobeIcon />
			</div>
			<a href="skat-project.ru" target="_blank">skat-project.ru</a>
		</div>
	</div>
</section>
