---
import FriendCard from "./friend-card.astro";
---
<section class="min-h-screen w-full text-white grid place-items-center">
    <div class="grid md:grid-cols-6 md:grid-rows-3 gap-5 md:gap-10 w-full">
        <p class="col-span-full text-5xl font-normal text-center md:(font-light text-7xl)">С нами на одной волне</p>
        <FriendCard name="Gutor Production"/>
        <FriendCard name="WOW technologies"/>
        <FriendCard name="Mayd Production"/>
        <div class="max-md:hidden"/>
        <FriendCard name="Simple decor"/>
        <FriendCard name="SM Production"/>
    </div>
</section>
