---
import FriendCard from "./friend-card.astro";
---

<section class="min-h-screen w-full text-white grid place-items-center">
	<div class="grid md:grid-cols-6 md:grid-rows-3 gap-5 md:gap-10 w-full">
		<p
			class="col-span-full text-5xl font-normal text-center md:(font-light text-7xl)"
		>
			С нами на одной волне
		</p>
		<FriendCard name="Gutor Production" logo="/gutor.webp" logoClass="h-16" />
		<FriendCard name="WOW technologies" logo="/wow.webp" logoClass="h-10" />
		<FriendCard name="Mayd Production" logo="/mayd.webp" logoClass="h-14"/>
		<div class="max-md:hidden"></div>
		<FriendCard name="Simple decor" logo="/simple-decor.webp" logoClass="h-14"/>
		<FriendCard name="SM Production" logo="/sm.webp" logoClass="h-12"/>
	</div>
</section>
