---
import FriendCard from "./friend-card.astro";
---

<section class="min-h-screen w-full text-white grid place-items-center">
	<div class="grid md:grid-cols-6 md:grid-rows-3 gap-5 md:gap-10 w-full">
		<p
			class="col-span-full text-5xl font-normal text-center md:(font-light text-7xl)"
		>
			С нами на одной волне
		</p>
		<FriendCard
			name="Gutor Production"
			logo={{
    			src:"/gutor.webp",
    			class:"h-8 md:h-14",
    			width:354,
    			height:354
			}}
		/>
		<FriendCard name="WOW technologies" logo={{
		src:"/wow.webp",
		class:"h-6 md:h-10",
		width:603,
		height:159
		}} />
		<FriendCard name="Mayd Production"
		logo={{
			src:"/mayd.webp",
			class:"h-8 md:h-14",
			width:210,
			height:152
		}} />

		<div class="max-md:hidden"></div>
		<FriendCard
			name="Simple decor"

			logo={{
				src:"/simple-decor.webp",
				class:"h-8 md:h-14",
				width:724,
				height:320
			}}

		/>
		<FriendCard name="SM Production"


		logo={{
						src:"/sm.webp",
						class:"h-8 md:h-12",
						width:564,
						height:316
					}}
	 />
	</div>
</section>
