---
---

<section class="size-screen bg-black text-white grid place-items-center">
    <div class='flex flex-col items-center gap-y-6'>
        <h1 class="font-logo text-[220px] leading-none">skat.</h1>
        <p class="font-open-sans font-extralight text-6xl">event агенство</p>
    </div>
</section>
