---

---

<section class="h-screen max-w-screen text-white grid place-items-center" id="hero">
	<div class="flex flex-col items-center md:gap-y-6">
		<h1 class="font-logo text-[140px] md:text-[220px] leading-none">
			skat.
		</h1>
		<p class="font-open-sans font-extralight text-4xl md:text-6xl">
			event агентство
		</p>
	</div>
</section>
