---
import TeamCard from './team-card.astro';
---

<section class="min-h-screen w-full grid grid-cols-[4fr_3fr] items-center">
    <div class="bg-white rounded-[46px] text-black grid grid-cols-2 h-fit py-12">
        <TeamCard name="Захар Лях" job="Генеральный директор" image="https://johnbakhmat.dev/johnbakhmat-128x128.webp" />
        <TeamCard name="Александр Силкин" job="Директор по развитию" image="https://johnbakhmat.dev/johnbakhmat-128x128.webp" />
    </div>
</section>
