---
import { Image } from "astro:assets";

interface Props {
	name: string;
	job: string;
	image: string;
}
const props = Astro.props;
---

<div class="flex flex-col items-center md:px-5 md:gap-4 group">
	<div
		class="size-32 md:size-64 rounded-full relative side-border mb-5 md:mb-10"
	>
		<Image
    		width={1204}
    		height={1204}
			src={props.image}
			alt={props.name}
			class="rounded-full grayscale group-hover:grayscale-0 transition-all duration-300"
		/>
	</div>
	<h2 class="text-(accent 3xl center) md:text-5xl">{props.name}</h2>
	<p class="text-(2xl center) md:text-4xl">{props.job}</p>
</div>
