---
---

<section class="h-screen w-full text-white grid grid-cols-[1fr_1fr]">
        <div class="w-fit h-full grid grid-rows-[1fr_auto_1fr]">
            <div class="self-end w-fit">
                <div class="border-(2 white) p-(x-10 y-4) rounded-full group text-5xl flex flex-row">
                    <p>Почему<div class="w-fit group-hover:animate-wiggle">?</div></p>
                </div>
            </div>

            <div>
                <h1 class="font-logo text-[175px] leading-none">skat.</h1>
            </div>

            <div/>
        </div>

        <div>
            <ul class="[&>li]:(text-white flex flex-row items-center gap-x-10) [&_.index]:(font-logo text-[150px])">
                <li>
                    <p class="index">01</p>
                    <p>С нами можно быть спокойным за проект</p>
                </li>
                <li>
                    <p class="index">02</p>
                    <p>Мы заряжаем своей энергией всех вокруг</p>
                </li>
                <li>
                    <p class="index">03</p>
                    <p>Мы знаем все течения и куда нужно плыть</p>
                </li>
            </ul>
        </div>
</section>
