---
---

<section class="h-screen w-full text-white grid grid-cols-[1fr_1fr]">
    <div class="flex flex-col">
        <div class="w-fit h-full grid grid-rows-[1fr_auto_1fr]">

            <div class="self-end w-fit">
                <div class="border-(2 white) p-(x-10 y-4) rounded-full group text-5xl flex flex-row">
                    <p>Почему<div class="w-fit group-hover:animate-wiggle">?</div></p>
                </div>
            </div>

            <div>
                <h1 class="font-logo text-[175px] leading-none">skat.</h1>
            </div>

            <div/>
        </div>
    </div>
</section>
