---
---

<section class="h-screen w-full text-white grid grid-cols-[3fr_4fr]">
        <div class="w-fit h-full grid grid-rows-[1fr_auto_1fr]">
            <div class="self-end w-fit">
                <div class="border-(2 white) p-(x-10 y-4) rounded-full group text-5xl flex flex-row">
                    <p>Почему<div class="w-fit group-hover:animate-wiggle">?</div></p>
                </div>
            </div>

            <div>
                <h1 class="font-logo text-[175px] leading-none">skat.</h1>
            </div>

            <div/>
        </div>

        <div class="flex flex-col justify-center">
            <div class="grid grid-cols-[auto_1fr] items-center gap-y-10 gap-x-[64px] [&>li]:(text-white items-center gap-x-10) [&_p]:(text-[30px] leading-none font-extralight whitespace-pre-line) [&_.index]:(font-logo text-[150px])">
                <p class="index">01</p>
                <p>С нами можно быть спокойным за проект</p>
                <p class="index">02</p>
                <p>{"Мы заряжаем своей\nэнергией всех вокруг"}</p>
                <p class="index">03</p>
                <p>{"Мы знаем все течения\nи куда нужно плыть"}</p>
            </div>
        </div>
</section>
