---
import "../styles/global.css";
import "@unocss/reset/tailwind-compat.css";
import { Image } from "astro:assets";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<SEO
			title="Skat. Event агентство"
			openGraph={{
				basic: {
					title: "Skat. Event агентство",
					type: "website",
					image: "/og.avif",
				},
			}}
		/>
		<title>Skat. Event агенство</title>
	</head>
	<body>
		<Image
			width={2040}
			height={1154}
			src="/background.avif"
			alt="background"
			class="fixed inset-0 w-full h-full object-cover -z-100"
		/>
		<slot />
	</body>
</html>
